.total {
  background-color: #e6e7ee;
  border: 0.0625rem solid transparent;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  width: 100%;
  padding: 20px;
  margin-top: 50px;

  &__subtitle {
    color: black;
    align-items: center;
  }

  &__total-price {
    color: black;
  }
}
