.header {
  text-align: center;
  min-width: 800px;
  width: 40%;
  margin: 100px auto 50px;

  &__title {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 20px;
  }

  &__subtitle {
    text-align: center;
    font-size: 1rem;
  }
}